<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Prediction</title>
</head>
<body>
    <h1>Stock Price Prediction</h1>

    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>Prediction is</h3>

        <form>
            <label for="Open">Open</label>
            <input type="text" id="Open" name="Open">
            <br>
            <label for="High">High</label>
            <input type="text" id="High" name="High">
            <br>
            <label for="Low">Low</label>
            <input type="text" id="Low" name="Low">
            <br>
            <label for="Volume">Volume</label>
            <input type="text" id="Volume" name="Volume">
          </form>

    </div>
</body>
</html>